
body {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

#root {
  text-align: left;
  width: 70%;
  display: inline-block;
}
